.failureView-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.failure-img {
  height: 270px;
  width: 560px;
}
.failure-msg {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
}
.try-again-btn {
  height: 48px;
  width: 127px;
  left: 0px;
  top: 0px;
  border-radius: 12px;
  padding: 12px 32px 12px 32px;
  border: none;
  background-color: #4094ef;
  color: #ffffff;
  font-family: roboto;
  font-size: 15px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
